.header {
  background-image: linear-gradient(to bottom right,#C04848 ,#480048 );
  color: #e7e5e5;
  padding: 130px;
  text-align: center;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}
.navbar a:hover {
  color: #480048;
}



.footer{
  background-color: 514A9D;
  padding: 20px;
  text-align: center;
}
.navbar{
  background-color: rgb(186, 184, 180);
}
.iconss{
    display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 10%;
    margin-top: 4rem;
  }
}

.section h2 {
  margin-bottom: 40px;
}
* {
  box-sizing: border-box;
}
section {
  display: contents;
}
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
.section h3 {
  margin-top: 0;
}

.card{
  width: 50rem;
  left: 25%;
  top: 50px;
  margin-bottom: 30px;
}
.fw-bold {
  font-weight: 500!important;
color:#030122;
}


p{
  color: #030122;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-style {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.project-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .project-style {
    width: calc(33.33% - 10px);
    margin-right: 1px;
  }

  .project-style:last-child {
    margin-right: 0;
    border-left-width: 0px;
    left: 0px;
    margin-left: 0;
  }
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.profile-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -100px;
}

@media (min-width: 768px) {
  .project-style {
    width: calc(33.33% - 10px);
    margin-right: 10px;
  }

  .project-style:last-child {
    margin-right: 0;
  }
}
